.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.image-map{
    width: 250px;
    height: 250px;
}

.input-box{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ticket-input {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #00BFA6;
    border-radius: 5px;
    font-size: 32px;
  }

.ticket-input::placeholder {
    color:#00BFA6;
    font-size: 18px; 
}

.ticket-button {
    padding: 15px;
    background: #00BFA6;
    color:#ffff;
    border:1px solid #e3e3e3;
    border-radius: 25px;
    margin-top: 20px;
    width: 90%;
    text-transform: uppercase;
}